	<div class="container">
		<nav class="navbar navbar-dark bg-dark mb-4 mt-4">
			<span class="navbar-brand mt-2 mb-2 pl-2"><i class="fa fa-comments fa-2x" aria-hidden="true"></i>  Super Quick Chat</span>
			<a class="nav-link" href="/"><span id="loginSignout" class="navbar-text">
				
				<!-- exact username logged in goes here -->

			</span></a>
		</nav>

<!-- LOGIN AREA --> 
		<div id="loginArea" class="row">
			<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

				<div class="card mb-3">
					<div class="h4 card-header text-dark bg-light">Sign in
					</div>					
					<div class="card-body">
						<form id="loginForm">
							<div class="form-group">
								<input id="loginField" type="text" class="form-control" placeholder="Username" autocomplete="off">
							</div>
							<button type="submit" class="btn btn-warning btn-block">Continue</button>
						</form>
					</div> <!-- card-body --> 
				</div> <!-- card -->

			</div> <!-- col-md-5 -->
		</div> <!-- row ... loginArea -->

<!-- CHAT AREA --> 
		<div id="chatArea" class="row visible">
			<div class="col-md-4">

				<div class="card mb-3">
					<div id="onlineCount" class="h4 card-header text-white bg-primary">

						<!-- who's online COUNT goes here -->

					</div>					
					<div class="card-body">

						<div id="whoseOnline" class="list-group">

							<!-- who's online ROSTER goes here --> 

						</div>

					</div>
				</div> <!-- card --> 

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">Chalk Board  <a class="btn btn-primary" href="#"><i id="eraserIcon" class="fa fa-eraser fa-lg" aria-hidden="true"></i></a>
					</div>
					<div class="card-body" id="chatTrail">

						<!-- messages (aka chat trail) goes here -->

					</div>
				</div>

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">New Message
					</div>					
					<div class="card-body">
					<form id="chatForm">
						<div class="form-group">
							<textarea id="chatField" class="form-control" autocomplete="off" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-success">Send</button>
					</form>
					</div>
				</div>

			</div> <!-- col -->
		</div> <!-- row ... chatArea -->
	</div> <!-- container -->
